:root {
  --mainColor: #152025;
  --secondaryColor: #192734;

 
  --borderColor: #164d56;

 --mainText: #fff;
  --secondaryText: #aeaeae;

  --themeDotBorder: #fff;

  --previewbg: rgba(25, 29, 52, 0.8);
  --previewShadow: #111921;

  --buttonColor:#17a2b8;


}
